<div id="bands">
  <h1>BANDS</h1>
  <% @bands.each do |band| %>
  <div id="band-<%= band.id %>">
    <h3><%= link_to "#{band.name}", "/bands/#{band.id}/shows" %></h3>
  </div>
  <% end %>
  <%= button_to "New Band", "/bands/new", method: :get %>
</div>