<div id="shows">
  <h1>SHOWS</h1>
  <%= button_to "Add Show", "/bands/#{@band.id}/shows/new", method: :get %>
  <% @shows.each do |show| %>
  <div id="show-<%= show.id %>">
    <h3><%= link_to "#{show.venue} - #{show.date.strftime('%m-%d-%Y')}", "/bands/#{show.band_id}/shows/#{show.id}" %></h3>
  </div>
  <% end %>
</div>